<ul class="related-pages">
    {% for related_path, score in related_pages %}
        {% set related = grav['pages'].get(related_path) %}
        {% if related %}
            <li class="related">

                {% if config.plugins.relatedpages.show_score %}
                    <span class="score">{{ score }}</span>
                {% endif %}
                <h5><a href="{{ related.url }}" title="{{ related.title }}">{{ related.media.images|first.quality(35).html }}{{ related.title }}</a></h5>
            </li>
        {% endif %}
    {% endfor %}
</ul>
